:root {
    --font_EduTASBeginner: 'Edu TAS Beginner', cursive;
    --font_NunitoSans: 'Nunito Sans', sans-serif;
    --color10: #dba628;
    --color30: rgb(78, 78, 78);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 0px 4px;
    position: fixed;
    z-index: 1;
    background: white;
    width: 100%;
}

.main {
    padding-top: 110px;
}

.header_top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;

}

.header_top-social i {
    font-size: 20px;
    color: black;
    padding: 4px;
}


.header_top-namestore {
    font-size: 40px;
    font-weight: 1000;
    font-family: var(--font_EduTASBeginner);
}

.header_top-users {
    display: flex;
}

.header_top-users i {
    font-size: 24px;
    padding: 4px;
    margin: 0 6px;
}

.users_cart i {
    position: relative;
}

.users_cart i p {
    position: absolute;
    top: -6px;
    right: -5px;
    font-size: 18px;
    padding: 5px;
    border-radius: 10px;
    background-color: black;
    color: white;
}

.loginlogout_act {
    display: none;
}

.header_nav {
    height: 40px;
    padding: 0 30px;
    padding-bottom: 50px;
}

.header_nav .header_navs1 {
    display: flex;
    justify-content: space-around;
    list-style: none;
}

.header_nav ul a {
    line-height: 40px;
    text-decoration: none;
    font-family: var(--font_NunitoSans);

    color: var(--color30);
    opacity: 0.9;
}

.header_nav ul li i {
    font-size: 12px;
    margin-left: 6px;
}

.header_navs1 li {
    padding: 0 20px;
}

.header_navs1 .product_navs2 {
    padding: 30px 0px;
    background-color: white;
    left: -40px;
    justify-content: space-between;
    display: flex;
    position: absolute;
    width: 801px;
    border-bottom: 1px solid gray;
    display: none;
}

.header_navs1 .jewewedding_navs2 {
    width: 300px;
    position: absolute;
    left: -20px;
    padding: 30px 0px;
    display: none;
    border-bottom: 1px solid gray;
    background-color: white;
}

.header_navs1 .product_navs2 ul {
    width: 267px;
    padding: 0 20px;
    list-style: none;
}

.header_navs1 .navs2 ul {
    padding: 0 20px;
    list-style: none;
}

.product_navs2-title {
    font-size: 16px;
}

.hoverproduct:hover>.product_navs2 {
    display: flex;
    animation: moveRight 0.5s;
}

.product_navs2 ul li:hover {
    transition: 1s;
}

.navs2 {
    z-index: 1;
}

.hoverjewewedding:hover .jewewedding_navs2 {
    display: block;
    animation: moveRight 0.5s;
}

.banner {
    padding-top: 30%;
    background-size: cover;
    position: relative;
}

.banner>i {
    position: absolute;
    padding: 20px;
    background-color: rgb(34, 23, 23);
    font-size: 20px;
    font-weight: 600;
    color: aliceblue;
    border-radius: 100%;
    opacity: 0;
}

.banner>i:first-child {
    top: 50%;
    transform: translateY(-50%);
    right: 0;
}

.banner:hover>i:first-child {
    display: block;
    right: 50px;
    transition: 1s;
    opacity: 1;
}

.banner>i:last-child {
    top: 50%;
    transform: translateY(-50%);
    left: 0;

}

.banner:hover>i:last-child {
    display: block;
    left: 50px;
    transition: 1s;
    opacity: 1;
}

.listproduct-title {
    text-align: center;
    margin: 22px 0 30px 0;
}

.listproduct-title p {
    margin-top: 20px;
    padding: 0 220px;
    color: rgb(124, 124, 124);
    font-family: var(--font_NunitoSans);
}

.css-content i {
    color: var(--color30);
    border-bottom: 1px solid gray;
    padding-bottom: 12px;
}

.css-content h3 {
    font-size: 32px;
    font-family: var(--font_NunitoSans);
}

.css-content span {
    font-weight: 500;
    font-size: 24px;
    color: var(--color30);
}

.listproduct-content .product {
    text-align: center;
}

.listproduct-content .product .product_img {
    padding-top: 100%;
    background-size: cover;
    background-repeat: no-repeat;
}

.listproduct-content .product {
    position: relative;
}

.listproduct-content .product .product_addcart {
    position: absolute;
    bottom: 15%;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
}

.listproduct-content .product .product_name {
    font-family: var(--font_NunitoSans);
    padding: 16px 0 0px 0;
    color: var(--color30);
    opacity: 0.8;
    font-size: 14px;
}

.listproduct-content .product:hover .product_addcart {
    bottom: 28%;
    transition: 0.5s;
    opacity: 1;

}

.listproduct-content .product .product_price {
    font-family: var(--font_NunitoSans);
    color: var(--color10);
    font-size: 14px;
    font-weight: 600;
    padding-bottom: 40px;
}

.listproduct_block1__buttonnext {
    text-align: center;

}

.product .product_addcart,
.listproduct_block1__buttonnext button {
    padding: 10px 28px;
    border: 1px solid rgb(211, 211, 211);
    background-color: white;
    border-radius: 12px;
}

.product .product_addcart a,
.listproduct_block1__buttonnext a {
    text-decoration: none;
    color: gray;
}

.listproduct_block2 {
    margin: 20px 0;
}

.listproduct-video video {
    width: 100%;
}

.listproduct-content .product_block2 {
    margin-bottom: 12px;
}

.listproduct-img_bl2 img {
    height: 100%;
    width: 100%;
}

.banner_block3 img {
    width: 100%;

}

.model {
    margin: 20px 0;
}

.overlayimg {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

.model img {
    width: 100%;
}

.overlaymodel {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(53, 53, 53, 0.6);
}

.model>div:hover .overlaymodel {
    background-color: inherit;
    transition: 0.2s;
}

.news-title {
    text-align: center;
    padding: 24px 0;
}

.news-content__img img {
    width: 100%;
}

.news-title__time {
    text-align: left;
    color: var(--color30);
    font-family: var(--font_NunitoSans);
    padding: 12px 0 0 0;
}

.news-title__title {
    text-align: left;
    color: var(--color30);
    font-family: var(--font_NunitoSans);
}

footer {
    background-color: rgb(240, 240, 240);

}

.footer-top {
    padding: 12px 0;
}

.footer-content {
    font-family: var(--font_NunitoSans);
}

.footer-content .title-box {
    font-size: 18px;
    padding-bottom: 14px;
}

.footer-content ul {
    font-size: 14px;
    list-style: none;
    color: var(--color30);
}

.footer-content ul li i {
    margin-right: 8px;
}

.footer-content ul li {
    padding: 3px 0;
}

.footer-content-network ul {
    display: flex;
    justify-content: space-around;
}

.footer-content-network ul i {
    padding: 16px;
    background-color: rgb(255, 255, 255);
    border: 0.5px solid rgb(211, 211, 211);
    font-size: 26px;
    border-radius: 100%;
}

.footer-content-network ul i:hover {
    color: white;
    transition: 0.4s;
    background-color: rgb(0, 0, 0);

}

.footer-license {
    text-align: center;
    font-size: 16px;
    padding: 12px 0;
    font-family: var(--font_NunitoSans);
    background-color: white;

}

.detailprd_img_mainimg img {
    width: 100%;
}

.detailprd_img_listimg {
    display: flex;
    justify-content: space-around;
    padding: 12px 30px;
}

.detailprd_img_listimg img {
    width: 100px;
}

.detailprd_contents {
    font-family: var(--font_NunitoSans);
    padding: 30px 0;
    border-bottom: 1px solid rgb(219, 219, 219);
}

.detailprd_contents .product-name {
    font-weight: 400;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 20px;
    text-transform: uppercase;
    font-family: var(--font_NunitoSans);
}

.detailprd_contents .product-price {
    font-weight: 600;
    font-family: var(--font_NunitoSans);
    color: #af8116;
}

.detailprd_contents .product-note {
    font-size: var(--font_NunitoSans);
    color: rgb(70, 70, 70);
    padding: 8px 0;
}

.detailprd_contents .product-note strong {
    color: rgb(58, 58, 58);
}

.detailprd_contents .product-love {
    text-decoration: none;
    font-size: 16px;
    color: #666666;
    margin-right: 20px;
    font-family: var(--font_NunitoSans);
    padding: 8px 0;
}

.detailprd_contents .product-love i {
    font-size: 16px;
    padding-right: 5px;
    vertical-align: middle;
}

.detailprd_contents .product-size {
    display: flex;
    margin: 18px 0;
    align-items: center;
}

.detailprd_contents .product-size p {
    margin-right: 8px;
}

.detailprd_contents .product-size select {
    border-radius: 40px;
    padding: 10px;
}

.detailprd_contents .product-quantity {
    display: flex;
    align-items: center;
}

.product-quantity .product-qty {
    align-items: center;
    display: flex;
    width: 90px;
    height: 40px;
    border: 1px solid #ddd;
    padding: 0 15px;
    border-radius: 40px;
}

.product-quantity .product-qty input {
    width: 24px;
    border: none;
    height: 40px;
    line-height: 40px;
    padding: 0;
    text-align: center;
    outline: none;
    background-color: transparent;
}

.product-quantity p {
    margin-right: 12px;
}

.product-quantity .addto_cart {
    height: 40px;
    color: #fff;
    line-height: 40px;
    border-radius: 50px;
    padding: 0 25px;
    background-color: #363636;
    margin-left: 12px;
}

.detailprd_introduce-title {
    text-indent: 0px;
    text-decoration: none;
    background-color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 700;
    padding: 6px 0px;
    font-family: var(--font_NunitoSans);
}

.detailprd_introduce-content {
    font-family: var(--font_NunitoSans);
}

.h3_title {
    position: relative;
}

.h3_title::after {
    position: absolute;
    content: "";
    top: 40px;
    right: 520px;
    width: 200px;
    height: 3px;
    background-color: rgb(189, 189, 189);
}

.listproduct_listsp form {
    text-align: center;
    margin-bottom: 20px;
}

.listproduct_listsp form select {
    padding: 6px 10px;
    color: var(--color30);
    border: 1px solid rgb(197, 197, 197);
    border-radius: 6px;
}

.listproduct_block1__buttonnext {
    display: flex;
    justify-content: center;
    padding: 22px 0;
}

.listproduct_block1__buttonnext-x {
    border-top: 1px solid rgb(219, 219, 219);
    border-bottom: 1px solid rgb(219, 219, 219);
}

.listproduct_block1__buttonnext li {
    margin-right: 5px;
    display: inline-block;
    list-style: none;
}

.listproduct_block1__buttonnext li a {
    color: #6d6d6d;
    background-color: #f5f5f5;
    height: 36px;
    width: 36px;
    font-size: 14px;
    display: inline-block;
    text-align: center;
    line-height: 36px;
    border-radius: 50%;
}

.sameproduct-listprd__banner img {
    width: 100%;
}

.collection-title {
    text-align: center;
}

.collectionlist .collection_content-col12 {
    padding-top: 30%;
    background-size: cover;
}

.collectionlist .collection_content-col6 {
    padding-top: 36%;
    background-size: cover;
}

.collectionlist .collection_content {
    position: relative;
}

.collectionlist .collection_content>.collection_name {
    position: absolute;
    bottom: 10px;
    left: 20px;
}

.collection-title {
    margin: 40px 0;
}

.collection-title>i {
    border: none;
}

.collection-title>h3 {
    position: relative;
    padding-bottom: 12px;
}

.collection-title>h3::after {
    content: "";
    height: 2px;
    width: 200px;
    position: absolute;
    background-color: rgb(194, 194, 194);
    top: 42px;
    right: 50%;
    transform: translateX(50%);
}

.collection_name i {
    font-weight: 200;
    color: #fff;
    font-size: 30px;
    word-spacing: 2px;
    margin-bottom: 12px;
    font-family: var(--font_NunitoSans);
    font-size: italic;
}

.collection_name p {
    font-weight: 200;
    color: #fff;
    font-size: 16px;
    word-spacing: 2px;
    margin-bottom: 12px;
    font-family: var(--font_NunitoSans);
}

.collectionlist>.col.l-12 {
    margin-bottom: 12px;
}
.signinsignup>.row{
    margin: 20px 0;
}
.signinsignup-input{
    margin-top: 20px;
}
.signin h5,.signup h5{
    font-family: var(--font_NunitoSans);
    color: #363636;
    font-weight: 500;
    line-height: 1.2;
    font-size: 20px;
}

.signinsignup-input input{
    color: #767676;
    border: 1px solid #ccc;
    padding: 12px 10px;
    width: 100%;
    font-size: 14px;
    background: #f7f7f7;
}
.action-signin{
    display: flex;
    justify-content: space-between;
    padding: 12px 0;
}
.memorizepass {
    display: flex;
}
.memorizepass p{
    cursor: pointer;
    font-family: var(--font_NunitoSans);
    color: var(--color30);
    margin-left: 12px;
}
.forgetpass a{
   text-decoration: none;
    font-family: var(--font_NunitoSans);
    color: var(--color30);
}
.button_actsigninsignup{
    padding: 8px 28px;
    background-color: black;
    color: white;
    font-family: var(--font_NunitoSans);
    border: none;
    border-radius: 4px;
    margin-top: 20px;
}
.signin,.signup{

    padding: 32px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
@keyframes moveRight {
    0% {
        transform-origin: 0% 0%;
        transform: scale(0);
        opacity: 0.5;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}